<%- include("../includes/header.ejs") %>
<link rel="stylesheet" href="/css/home.css">

<body>

    <div class="container-fluid bg-secondary">
        <h2>Chi</h2>
    </div>
    
</body>

<%- include("../includes/footer.ejs") %>