<%- include("../includes/header.ejs") %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
    <div class="container-fluid bg-secondary">
        <h2>Chi</h2>
    </div>
<%- include("../includes/footer.ejs") %>