<%- include("../includes/header.ejs") %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
    <div class="container-fluid bg-danger text-center">
        <h2>Thu</h2>
    </div>
    
</body>

<%- include("../includes/footer.ejs") %>