a {
    text-decoration: none;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.itemLeft {
    display: none;
}

.itemLeft li {
    cursor: pointer;
    margin-right: 2rem;
}

.itemLeft, li {
    list-style: none;
    

}

.itemLeft li a {
    text-decoration: none;
    color: #fff;
}

.itemLeft li a:hover,
.itemLeft li a:active,
.itemLeft li a.active {
    color: yellow;
    
}


.rightSide {
    text-align: center;
}

.rightSide form button {
    outline: none;
    border: none;
    background-color: unset;
}

.rightSide form button:hover {
    color: yellow;
}

.rightSide {
    cursor: pointer;
}

.rightSide img {
    width: 50px;
    height: 50px;

}

.font-menu {
    font-size: 2.5rem;
    cursor: pointer;
}

.font-menu:hover {
    opacity: 0.7;
}


/* mobile */
.mobile-nav {
    width: 20rem;
    height: 100vh;
    max-width: 90%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    display: flex;
    justify-content: space-between;
}

.mobile-nav.open {
    transform: translateX(0);
  }

  .mobile-nav span {
    font-size: 2rem;
    cursor: pointer;
  }

.mobile-nav li {
    padding-bottom: 1rem;
}

.mobile-nav li a {
text-decoration: none;
color: #fff;
font-size: 2rem;
}

.mobile-nav li a:hover,
.mobile-nav li a:active,
.mobile-nav li a.active {
    color: yellow;
}

/* respon */

.img-av-mobile {
    display: flex;
    align-items: center;
}
.img-av-mobile img {
    max-width: 40px;
    height: 40px;
    width: 100%;
    object-fit: cover;
}

.img-av-mobile form {
    font-size: 1.5rem;
    margin-left: 1rem;
}
.img-av-mobile form button {
    outline: none;
    border: none;
}

.img-av-mobile form button:hover {
   color: #fff;
   background-color: #000;
}


@media (min-width: 992px) {

    .font-menu {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    .itemLeft {
        display: flex;
    }

    .rightSide span {
        font-size: 1.5rem;
    }
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
  }


.footerFix {
    position: fixed;
    bottom: 0;
    width: 100%;
}