<%- include("../includes/header.ejs") %>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
    <div class="container-fluid mt-3">
      <h2 class="text-center">Đăng ký</h2>
      <% if(errMess) { %>
        <div class="p-3 mb-2 bg-danger text-white text-center"><%= errMess %></div>
      <% } %>
        <form method="post" action="/dang-ky">
            <div class="mb-3">
              <label for="username" class="form-label">User Name</label>
              <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Mật khẩu</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3">
                <label for="re-pass" class="form-label">Nhập lại Pass</label>
                <input type="password" class="form-control" id="re-pass" name="rePass">
            </div>
            <button type="submit" class="btn btn-primary">Đăng ký</button>
            <span>Bạn đã có tài khoản ? <a href="/dang-nhap" class="text-primary">Đăng nhập</a></span>

          </form>
    </div>
<%- include("../includes/footer.ejs") %>